

header {
  position: fixed;
  z-index: 99999;
}
.hover_color {
  background: #fff;
}
.none_color {
  position: fixed;
  background:none;
  width: 100%;
  top: 0;
}
.change_color {
  position: fixed;
  z-index: 99999;
  background: white;
  width: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  top: 0;
}

.top-scroll-btn {
  position: fixed;
  width: 48px;
  height: 32px;
  border-radius: 40px;
  right: 15px;
  bottom: 16px;
  background-color: #4d6ee4;
  box-shadow: -3px 2px 5px 0 rgba(0, 0, 0, 0.2);
  background-image: url('/assets/images/common/icon_btn_top.svg');
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
}

span {
  font-size: 20px;
}
.full-modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4d6ee4;
  animation: fadein .3s;

  .modal-wrap {
    position: relative;
    padding: 60px 145px;
    h1 {
      display: inline-block;
      font-size: 60px;
      color: #f8fafc;
      line-height: 1.32;
      letter-spacing: normal;
    }
    .full-close {
      position: absolute;
      top: 89px;
      right: 135px;
      cursor: pointer;
      transition: all ease 1s;
      &:hover {
        transform: rotate( 180deg );
      }
    }
    .full-wrap {
      position: relative;
      display: flex;
      width: 100%;
      margin-top: 20px;
      &::before {
        width: 100%;
        height: 2px;
        content: '';
        position: absolute;
        background: #9cb2ff;
        margin-bottom: 20px;
        top: 0;
      }
      &__section {
        margin-top: 80px;
        margin-right: 60px;
        width: 14%;
        color: #fff;
        &:last-child {
          margin-right: 0;
        }
        .title {
          margin-bottom: 26px;
          font-size: 26px;
          letter-spacing: -1.04px;
        }

        .accordions {
          position: relative;
          dl {
            dt {
              position: relative;
              font-size: 18px;
              letter-spacing: -0.36px;
              line-height: 2;
              cursor: pointer;
              &:hover {
                color: #00edff;
              }
              span {
                width: 17px;
                position: absolute;
                right: 0;
                top: 17px;
              }

              img {
                position: absolute;
                right: 0;
                transform: rotate(0deg);
                transition: all .5s;
              }

              .rotate {
                img {
                  transform: rotate(180deg);
                  transition: all .5s;
                }
              }
              &.fullActive {
                color: #00edff;
              }
            }
            dd {
              &:hover {
                color: #00edff;
              }
              cursor: pointer;
              font-size: 16px;
              letter-spacing: -0.28px;
              line-height: 2;

            }
            }

            .bullet {
              position: relative;
              text-indent: 20px;
              &:hover {
                &::before {
                  background: #00edff;
                }
              }
              &::before {
                width: 2px;
                height: 2px;
                content: '';
                position: absolute;
                left: 10px;
                background: #fff;
                top: 50%;
                transform: translate(0, -50%);
              }
            }
          }
        }
      }
    }
  }

.header-content {
  position: fixed;
  width: 100%;
  .header {
    position: relative;
    z-index: 999;
    width: 100%;
    height: 82px;
    //background: #eee;

    &__wrap {
      height: 82px;
      display: flex;

      .logo {
        display: block;
        margin: 29px 80px 0 100px;
        float: left;
        width: 150px;
        height: auto;
        background: url('/assets/images/common/icon_swlogo.svg') no-repeat top/100%;
      }

      .nav {
        overflow: hidden;
        ul {
          display: flex;
          li {
            position: relative;
            line-height: 82px;
            font-size: 18px;
            font-weight: 500;
            padding: 0 20px;
            a {
              width: 100%;
              color: #2a2a2a;
              text-decoration: none;

              &::after {
                content: '';
                position: absolute;
                &:hover {
                  display: inline-block;
                  top: 10px;
                  width: 100%;
                  height: 8px;
                  background: #9cb2ff;
                }
              }

            }
            .tabmenu_color {
              position: relative;
              bottom: 75px;
              display: inline-block;
              width: 100%;
              height: 8px;
              background: #9cb2ff;
              opacity: 0.5;
              transition: all 1s;
            }
            }

        }
        &__search {
          position: absolute;
          right: 100px;
          line-height: 90px;
          cursor: pointer;
          ul {
            display: flex;
            li{
              margin-left: 14px;
            }
          }
        }
      }
    }
    .quick-content {
      position: relative;
      top: -85px;
      .quickNav {
        position: absolute;
        right: 0;
        top: 0;
        width: 80px;
        height: 146px;
        background: #3557da;
        border-radius: 0 0 40px 40px;
        box-shadow: -3px 2px 5px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        color: #fff;
        cursor: pointer;
        z-index: 999;
        .quick-title {
          position: relative;
          display: block;
          padding-top: 75px;
          font-size: 14px;
          line-height: 2;
          font-weight: bold;
          text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          font-family: roboto;
          &:before {
            content: '';
            position: absolute;
            top: 40px;
            left: 17px;
            display: block;
            font-size: 13px;
            height: 28px;
            width: 48px;
            padding-top: 5px;
            background-image: url('/assets/images/common/icon_quick_title.svg');
            background-size: 48px 28px;
            background-repeat: no-repeat;
          }
          em {
            display: inline-block;
            position: relative;
            top: -10px;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 2.15;
            letter-spacing: -0.26px;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          }
        }
        .quickBtn {
          position: relative;
          bottom: 20px;
          img {
            transition: all .2s;
            transform: rotate(0deg)
          }
          &.rotate {
            img {
              transition: all .2s;
              transform: rotate(180deg);
            }
          }
        }


      }
      .quickList {
        position: absolute;
        right: 5px;
        top: 155px;
        z-index: 999;
        &.active {
          transition: opacity .5s;
        }
        .quick-main {
          padding: 25px 0;
          background: #4d6ee4;
          width: 70px;
          border-radius: 40px;
          box-shadow: -3px 2px 5px 0 rgba(0, 0, 0, 0.2);
          .info-menu {
            text-align: center;
            margin-bottom: 17px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .quick-sub {
          position: absolute;
          top: 0;
          .sub-menu {
            padding-left: 27px;
            position: absolute;
            height: 68px;
            .sub-wrap {
              color: #9cb2ff;
              ul{
                display: flex;
                .sub-list {
                  margin: 10px 0 0 20px;
                  cursor: pointer;
                  &:first-child {
                    margin-left: 0;
                  }
                  .sub-content {
                    padding-top: 30px;
                    font-size: 13px;
                    display: block;
                  }
                }
              }
            }
          }
          .submenu01 {
            top: 12px;
            right: -66px;
            background: #3557da;
            border-radius: 40px;
            &--list {
              position: relative;
              ul {
                li {
                  position: relative;
                  .sub-content {
                    &--01 {
                      &:before {
                        content: '';
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        display: block;
                        font-size: 13px;
                        height: 40px;
                        width: 40px;
                        padding-top: 5px;
                        background-image: url('/assets/images/common/icon_quick_sub_cs1_off.svg');
                        background-size: 40px;
                        background-repeat: no-repeat;
                      }
                      &:hover {
                        color: #f8fafc;
                        &:before {
                          background-image: url('/assets/images/common/icon_quick_sub_cs1.svg');
                        }
                      }

                    }
                    &--02 {
                      &:before {
                        content: '';
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        display: block;
                        font-size: 13px;
                        height: 40px;
                        width: 40px;
                        padding-top: 5px;
                        background-image: url('/assets/images/common/icon_quick_sub_cs2_off.svg');
                        background-size: 40px;
                        background-repeat: no-repeat;
                      }
                      &:hover {
                        color: #f8fafc;
                        &:before {
                          background-image: url('/assets/images/common/icon_quick_sub_cs2.svg');
                        }
                      }

                    }
                    &--03 {
                      &:before {
                        content: '';
                        position: absolute;
                        top: 0px;
                        left: 5px;
                        display: block;
                        font-size: 13px;
                        height: 40px;
                        width: 40px;
                        padding-top: 5px;
                        background-image: url('/assets/images/common/icon_quick_sub_cs3_off.svg');
                        background-size: 40px;
                        background-repeat: no-repeat;
                      }
                      &:hover {
                        color: #f8fafc;
                        &:before {
                          background-image: url('/assets/images/common/icon_quick_sub_cs3.svg');
                        }
                      }

                    }
                  }
                  &.sub-on {
                    line-height: 68px;
                    margin: 0 0 0 10px;
                    color: #f8fafc;
                    padding-right: 50px;
                    &:before {
                      content: '';
                      position: absolute;
                      top: 13px;
                      right: 10px;
                      height: 42px;
                      width: 42px;
                      background-image: url('/assets/images/common/icon_quick_time.svg');
                      background-size: 42px;
                      background-repeat: no-repeat;
                    }
                    p {
                      margin: 0 10px 0 20px;
                    }
                  }
                }
              }
            }
          }
          .submenu02 {
            top: 78px;
            right: -66px;
            background: #3557da;
            border-radius: 40px;
            &--list {
              position: relative;
              ul {
                li {
                  position: relative;
                  .sub-content {
                    &--01 {
                      &:before {
                        content: '';
                        position: absolute;
                        top: 0px;
                        left: 12px;
                        display: block;
                        font-size: 13px;
                        height: 40px;
                        width: 40px;
                        padding-top: 5px;
                        background-image: url('/assets/images/common/icon_quick_sub_guide1_off.svg');
                        background-size: 40px;
                        background-repeat: no-repeat;
                      }
                      &:hover {
                        color: #f8fafc;
                        &:before {
                          background-image: url('/assets/images/common/icon_quick_sub_guide1.svg');
                        }
                      }

                    }
                    &--02 {
                      &:before {
                        content: '';
                        position: absolute;
                        top: 0px;
                        left: 12px;
                        display: block;
                        font-size: 13px;
                        height: 40px;
                        width: 40px;
                        padding-top: 5px;
                        background-image: url('/assets/images/common/icon_quick_sub_guide2_off.svg');
                        background-size: 40px;
                        background-repeat: no-repeat;
                      }
                      &:hover {
                        color: #f8fafc;
                        &:before {
                          background-image: url('/assets/images/common/icon_quick_sub_guide2.svg');
                        }
                      }

                    }
                    &--03 {
                      &:before {
                        content: '';
                        position: absolute;
                        top: 0px;
                        left: 12px;
                        display: block;
                        font-size: 13px;
                        height: 40px;
                        width: 40px;
                        padding-top: 5px;
                        background-image: url('/assets/images/common/icon_quick_sub_guide3_off.svg');
                        background-size: 40px;
                        background-repeat: no-repeat;
                      }
                      &:hover {
                        color: #f8fafc;
                        &:before {
                          background-image: url('/assets/images/common/icon_quick_sub_guide3.svg');
                        }
                      }

                    }
                  }
                  &.sub-on {
                    line-height: 68px;
                    margin: 0 0 0 10px;
                    color: #f8fafc;
                    padding-right: 50px;
                    &:before {
                      content: '';
                      position: absolute;
                      top: 11px;
                      right: 10px;
                      height: 42px;
                      width: 42px;
                      background-image: url('/assets/images/common/icon_quick_guide.svg');
                      background-size: 42px;
                      background-repeat: no-repeat;
                    }
                    p {
                      margin: 0 10px 0 20px;
                    }
                  }
                }
              }
            }
          }
          .submenu03 {
            top: 142px;
            right: -66px;
            background:#3557da;
            border-radius: 40px;
            &--list {
              position: relative;
              ul {
                li {
                  position: relative;
                  &.sub-on {
                    line-height: 68px;
                    color: #f8fafc;
                    padding-right: 50px;
                    &:before {
                      content: '';
                      position: absolute;
                      top: 11px;
                      right: 10px;
                      height: 42px;
                      width: 42px;
                      background-image: url('/assets/images/common/icon_quick_product.svg');
                      background-size: 42px;
                      background-repeat: no-repeat;
                    }
                    &.only {
                      p {
                        margin-right: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
          .submenu04 {
            top: 206px;
            right: -66px;
            background:#3557da;
            border-radius: 40px;
            &--list {
              position: relative;
              ul {
                li {
                  position: relative;
                  &.sub-on {
                    line-height: 68px;
                    color: #f8fafc;
                    padding-right: 50px;
                    &:before {
                      content: '';
                      position: absolute;
                      top: 11px;
                      right: 10px;
                      height: 42px;
                      width: 42px;
                      background-image: url('/assets/images/common/icon_quick_cs.svg');
                      background-size: 42px;
                      background-repeat: no-repeat;
                    }
                    &.only {
                      p {
                        margin-right: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
          .submenu05 {
            top: 270px;
            right: -66px;
            background:#3557da;
            border-radius: 40px;
            &--list {
              position: relative;
              ul {
                li {
                  position: relative;
                  &.sub-on {
                    line-height: 68px;
                    color: #f8fafc;
                    padding-right: 50px;
                    &:before {
                      content: '';
                      position: absolute;
                      top: 11px;
                      right: 10px;
                      height: 42px;
                      width: 42px;
                      background-image: url('/assets/images/common/icon_quick_font.svg');
                      background-size: 42px;
                      background-repeat: no-repeat;
                    }
                    &.only {
                      p {
                        margin-right: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
          .submenu06 {
            top: 334px;
            right: -66px;
            background:#3557da;
            border-radius: 40px;
            &--list {
              position: relative;
              ul {
                li {
                  position: relative;
                  &.sub-on {
                    line-height: 68px;
                    color: #f8fafc;
                    padding-right: 50px;
                    &:before {
                      content: '';
                      position: absolute;
                      top: 11px;
                      right: 10px;
                      height: 42px;
                      width: 42px;
                      background-image: url('/assets/images/common/icon_quick_recent.svg');
                      background-size: 42px;
                      background-repeat: no-repeat;
                    }
                    &.only {
                      p {
                        margin-right: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
          .submenu07 {
            top: 398px;
            right: -66px;
            background:#3557da;
            border-radius: 40px;
            &--list {
              position: relative;
              ul {
                li {
                  position: relative;
                  &.sub-on {
                    line-height: 68px;
                    color: #f8fafc;
                    padding-right: 50px;
                    &:before {
                      content: '';
                      position: absolute;
                      top: 11px;
                      right: 10px;
                      height: 42px;
                      width: 42px;
                      background-image: url('/assets/images/common/icon_quick_cart.svg');
                      background-size: 42px;
                      background-repeat: no-repeat;
                    }
                    &.only {
                      p {
                        margin-right: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
          .submenu08 {
            top: 462px;
            right: -66px;
            background:#3557da;
            border-radius: 40px;
            &--list {
              position: relative;
              ul {
                li {
                  position: relative;
                  &.sub-on {
                    line-height: 68px;
                    color: #f8fafc;
                    padding-right: 50px;
                    &:before {
                      content: '';
                      position: absolute;
                      top: 11px;
                      right: 10px;
                      height: 42px;
                      width: 42px;
                      background-image: url('/assets/images/common/icon_quick_order.svg');
                      background-size: 42px;
                      background-repeat: no-repeat;
                    }
                    &.only {
                      p {
                        margin-right: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
          .submenu09 {
            top: 526px;
            right: -66px;
            background:#3557da;
            border-radius: 40px;
            &--list {
              position: relative;
              ul {
                li {
                  position: relative;
                  &.sub-on {
                    line-height: 68px;
                    color: #f8fafc;
                    padding-right: 50px;
                    &:before {
                      content: '';
                      position: absolute;
                      top: 11px;
                      right: 10px;
                      height: 42px;
                      width: 42px;
                      background-image: url('/assets/images/common/icon_quick_benefit.svg');
                      background-size: 42px;
                      background-repeat: no-repeat;
                    }
                    &.only {
                      p {
                        margin-right: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .quick {
          position: relative;
          &--title {
            margin: 7px;
          }
          &--sub {
            position: absolute;
            right: 30px;
            top: 0;
            ul {
              display: flex;
              li {
                width: 50px;
              }
            }
          }
        }
      }
    }
  }
  .nav-bg {
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    .nav__hoverTab {
      display: flex;
      position: absolute;
      top: 82px;
      width: 100%;
      height: auto;
      &--title {
        position: relative;
        width: 320px;
        padding: 30px 26px 30px 30px;
        text-align: right;
        background:#3557da;
        .title-wrap {
          position: absolute;
          right: 26px;
          bottom: 30px;
        }
        h3 {
          margin-top: 27px;
          margin-bottom: 14px;
          color: #f8fafc;
          font-size: 30px;
          letter-spacing: -0.6px;
          line-height: 0.93;
          animation: fadein .5s;
        }
        p {
          margin-top: 10px;
          font-size: 18px;
          line-height: 1.44;
          letter-spacing: -0.36px;
          color: #9cb2ff;
          animation: fadein .5s;
        }
      }
      &--product {
        width: 100%;
        height: auto;
        padding:42px 114px 17px 42px;
        background: #f5f5f5;
        ul {
          li {

            .accordions {
              float: left;
              position: relative;
              margin-right: 30px;
              margin-bottom: 20px;
              width: 17%;
              min-width: 254px;
              dl {
                dt {
                  &:hover {
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
                  }
                  &.border {
                    box-sizing: border-box;
                    border: 2px solid #3557da;
                    strong {
                      font-size: 18px;
                      color: #3557da;
                    }
                  }

                  position: relative;
                  height: 74px;
                  //line-height: 74px;
                  font-size: 18px;
                  letter-spacing: -0.36px;
                  cursor: pointer;
                  border-radius: 12px;
                  background: #fff;
                  overflow: hidden;
                  figure {
                   img {
                     position: absolute;
                     left: 0;
                     height: 100%;
                     width: 92px;

                   }
                  }
                  strong {
                    display: block;
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    padding-left: 104px;
                  }
                  .drop-down {
                    width: 17px;
                    position: absolute;
                    right: 16px;
                    top: 35px;
                  }
                  img {
                    position: absolute;
                    right: 16px;
                    transform: rotate(0deg);
                    transition: all .5s;
                  }

                  .rotate {
                    img {
                      transform: rotate(180deg);
                      transition: all .5s;
                    }
                  }
                }
                dd {
                  cursor: pointer;
                  color: #4c4c4c;
                  font-size: 18px;
                  letter-spacing: -0.28px;
                  line-height: 2;

                }
                .bullet {
                  position: relative;
                  text-indent: 20px;
                  span {
                    font-size: 18px;
                    position: relative;
                    &:hover {
                      color: #3557da;
                      &::before {
                        position: absolute;
                        width: 100%;
                        height: 7px;
                        content: '';
                        background: #d5d7ff;
                        opacity: 0.5;
                        bottom: -2px;
                        transform: translate(0, -50%);
                      }
                    }
                  }
                  &::before {
                    position: absolute;
                    left: 10px;
                    width: 5px;
                    height: 5px;
                    content: '';
                    background: #4c4c4c;
                    top: 50%;
                    transform: translate(0, -50%);
                    border-radius: 50%;
                  }
                }
              }
            }
          }
        }

      }
    }
  }


}


/* slide motion */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

/*.slide-enter-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}*/

/*.slide-leave-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}*/

.slide-enter-to, .slide-leave {
  max-height: 400px;
  overflow: hidden;
}

.slide-enter, .slide-leave-to {
  overflow: hidden;
  max-height: 0;
}
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
