header {
  position: fixed;
  z-index: 99999; }

.hover_color {
  background: #fff; }

.none_color {
  position: fixed;
  background: none;
  width: 100%;
  top: 0; }

.change_color {
  position: fixed;
  z-index: 99999;
  background: white;
  width: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  top: 0; }

.top-scroll-btn {
  position: fixed;
  width: 48px;
  height: 32px;
  border-radius: 40px;
  right: 15px;
  bottom: 16px;
  background-color: #4d6ee4;
  box-shadow: -3px 2px 5px 0 rgba(0, 0, 0, 0.2);
  background-image: url("/assets/images/common/icon_btn_top.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center; }

span {
  font-size: 20px; }

.full-modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4d6ee4;
  animation: fadein .3s; }
  .full-modal .modal-wrap {
    position: relative;
    padding: 60px 145px; }
    .full-modal .modal-wrap h1 {
      display: inline-block;
      font-size: 60px;
      color: #f8fafc;
      line-height: 1.32;
      letter-spacing: normal; }
    .full-modal .modal-wrap .full-close {
      position: absolute;
      top: 89px;
      right: 135px;
      cursor: pointer;
      transition: all ease 1s; }
      .full-modal .modal-wrap .full-close:hover {
        transform: rotate(180deg); }
    .full-modal .modal-wrap .full-wrap {
      position: relative;
      display: flex;
      width: 100%;
      margin-top: 20px; }
      .full-modal .modal-wrap .full-wrap::before {
        width: 100%;
        height: 2px;
        content: '';
        position: absolute;
        background: #9cb2ff;
        margin-bottom: 20px;
        top: 0; }
      .full-modal .modal-wrap .full-wrap__section {
        margin-top: 100px;
        margin-right: 60px;
        width: 14%;
        color: #fff; }
        .full-modal .modal-wrap .full-wrap__section:last-child {
          margin-right: 0; }
        .full-modal .modal-wrap .full-wrap__section .title {
          margin-bottom: 26px;
          font-size: 26px;
          letter-spacing: -1.04px; }
        .full-modal .modal-wrap .full-wrap__section .accordions {
          position: relative; }
          .full-modal .modal-wrap .full-wrap__section .accordions dl dt {
            position: relative;
            font-size: 18px;
            letter-spacing: -0.36px;
            line-height: 2;
            cursor: pointer; }
            .full-modal .modal-wrap .full-wrap__section .accordions dl dt span {
              width: 17px;
              position: absolute;
              right: 0;
              top: 17px; }
            .full-modal .modal-wrap .full-wrap__section .accordions dl dt img {
              position: absolute;
              right: 0;
              transform: rotate(0deg);
              transition: all .5s; }
            .full-modal .modal-wrap .full-wrap__section .accordions dl dt .rotate img {
              transform: rotate(180deg);
              transition: all .5s; }
            .full-modal .modal-wrap .full-wrap__section .accordions dl dt.fullActive {
              color: #00edff; }
          .full-modal .modal-wrap .full-wrap__section .accordions dl dd {
            cursor: pointer;
            font-size: 16px;
            letter-spacing: -0.28px;
            line-height: 2; }
            .full-modal .modal-wrap .full-wrap__section .accordions dl dd:hover {
              color: #00edff; }
          .full-modal .modal-wrap .full-wrap__section .accordions .bullet {
            position: relative;
            text-indent: 20px; }
            .full-modal .modal-wrap .full-wrap__section .accordions .bullet:hover::before {
              background: #00edff; }
            .full-modal .modal-wrap .full-wrap__section .accordions .bullet::before {
              width: 2px;
              height: 2px;
              content: '';
              position: absolute;
              left: 10px;
              background: #fff;
              top: 50%;
              transform: translate(0, -50%); }

.header-content {
  position: fixed;
  width: 100%; }
  .header-content .header {
    position: relative;
    z-index: 999;
    width: 100%;
    height: 82px; }
    .header-content .header__wrap {
      height: 82px;
      display: flex; }
      .header-content .header__wrap .logo {
        display: block;
        margin: 29px 80px 0 100px;
        float: left;
        width: 150px;
        height: auto;
        background: url("/assets/images/common/icon_swlogo.svg") no-repeat top/100%; }
      .header-content .header__wrap .nav {
        overflow: hidden; }
        .header-content .header__wrap .nav ul {
          display: flex; }
          .header-content .header__wrap .nav ul li {
            position: relative;
            line-height: 82px;
            font-size: 18px;
            font-weight: 500;
            padding: 0 20px; }
            .header-content .header__wrap .nav ul li a {
              width: 100%;
              color: #2a2a2a;
              text-decoration: none; }
              .header-content .header__wrap .nav ul li a::after {
                content: '';
                position: absolute; }
                .header-content .header__wrap .nav ul li a::after:hover {
                  display: inline-block;
                  top: 10px;
                  width: 100%;
                  height: 8px;
                  background: #9cb2ff; }
            .header-content .header__wrap .nav ul li .tabmenu_color {
              position: relative;
              bottom: 75px;
              display: inline-block;
              width: 100%;
              height: 8px;
              background: #9cb2ff;
              opacity: 0.5;
              transition: all 1s; }
        .header-content .header__wrap .nav__search {
          position: absolute;
          right: 100px;
          line-height: 90px;
          cursor: pointer; }
          .header-content .header__wrap .nav__search ul {
            display: flex; }
            .header-content .header__wrap .nav__search ul li {
              margin-left: 14px; }
    .header-content .header .quick-content {
      position: relative;
      top: -85px; }
      .header-content .header .quick-content .quickNav {
        position: absolute;
        right: 0;
        top: 0;
        width: 80px;
        height: 146px;
        background: #3557da;
        border-radius: 0 0 40px 40px;
        box-shadow: -3px 2px 5px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        color: #fff;
        cursor: pointer;
        z-index: 999; }
        .header-content .header .quick-content .quickNav .quick-title {
          position: relative;
          display: block;
          padding-top: 75px;
          font-size: 14px;
          line-height: 2;
          font-weight: bold;
          text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          font-family: roboto; }
          .header-content .header .quick-content .quickNav .quick-title:before {
            content: '';
            position: absolute;
            top: 40px;
            left: 17px;
            display: block;
            font-size: 13px;
            height: 28px;
            width: 48px;
            padding-top: 5px;
            background-image: url("/assets/images/common/icon_quick_title.svg");
            background-size: 48px 28px;
            background-repeat: no-repeat; }
          .header-content .header .quick-content .quickNav .quick-title em {
            display: inline-block;
            position: relative;
            top: -10px;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 2.15;
            letter-spacing: -0.26px;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
        .header-content .header .quick-content .quickNav .quickBtn {
          position: relative;
          bottom: 20px; }
          .header-content .header .quick-content .quickNav .quickBtn img {
            transition: all .2s;
            transform: rotate(180deg); }
          .header-content .header .quick-content .quickNav .quickBtn.rotate img {
            transition: all .2s;
            transform: rotate(360deg); }
      .header-content .header .quick-content .quickList {
        position: absolute;
        right: 16px;
        top: 155px;
        z-index: 999; }
        .header-content .header .quick-content .quickList.active {
          transition: opacity .5s; }
        .header-content .header .quick-content .quickList .quick-main {
          padding: 35px 0;
          background: #4d6ee4;
          width: 48px;
          border-radius: 40px;
          box-shadow: -3px 2px 5px 0 rgba(0, 0, 0, 0.2); }
          .header-content .header .quick-content .quickList .quick-main .info-menu {
            text-align: center;
            margin: 9px 0px 25px 0px; }
            .header-content .header .quick-content .quickList .quick-main .info-menu:last-child {
              margin-bottom: 0; }
        .header-content .header .quick-content .quickList .quick-sub {
          position: absolute;
          top: 0; }
          .header-content .header .quick-content .quickList .quick-sub .sub-menu {
            padding-left: 27px;
            position: absolute;
            height: 56px; }
            .header-content .header .quick-content .quickList .quick-sub .sub-menu .sub-wrap {
              color: #9cb2ff; }
              .header-content .header .quick-content .quickList .quick-sub .sub-menu .sub-wrap ul {
                display: flex; }
                .header-content .header .quick-content .quickList .quick-sub .sub-menu .sub-wrap ul .sub-list {
                  margin: 7px 0 0 24px;
                  cursor: pointer; }
                  .header-content .header .quick-content .quickList .quick-sub .sub-menu .sub-wrap ul .sub-list:first-child {
                    margin-left: 0; }
          .header-content .header .quick-content .quickList .quick-sub .submenu01 {
            top: 32px;
            right: -49px;
            background: #3557da;
            border-radius: 40px; }
            .header-content .header .quick-content .quickList .quick-sub .submenu01--list {
              position: relative; }
              .header-content .header .quick-content .quickList .quick-sub .submenu01--list ul li {
                position: relative; }
                .header-content .header .quick-content .quickList .quick-sub .submenu01--list ul li .sub-content {
                  font-size: 13px;
                  display: block;
                  padding-top: 25px; }
                  .header-content .header .quick-content .quickList .quick-sub .submenu01--list ul li .sub-content--01:before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 11px;
                    display: block;
                    font-size: 13px;
                    height: 28px;
                    width: 28px;
                    padding-top: 5px;
                    background-image: url("/assets/images/dummy/icon_dummy.svg");
                    background-size: 28px;
                    background-repeat: no-repeat; }
                  .header-content .header .quick-content .quickList .quick-sub .submenu01--list ul li .sub-content--01:hover {
                    color: #f8fafc; }
                    .header-content .header .quick-content .quickList .quick-sub .submenu01--list ul li .sub-content--01:hover:before {
                      background-image: url("/assets/images/dummy/icon_dummy_on.png"); }
                  .header-content .header .quick-content .quickList .quick-sub .submenu01--list ul li .sub-content--02:before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 11px;
                    display: block;
                    font-size: 13px;
                    height: 28px;
                    width: 28px;
                    padding-top: 5px;
                    background-image: url("/assets/images/dummy/icon_dummy.svg");
                    background-size: 28px;
                    background-repeat: no-repeat; }
                  .header-content .header .quick-content .quickList .quick-sub .submenu01--list ul li .sub-content--02:hover {
                    color: #f8fafc; }
                    .header-content .header .quick-content .quickList .quick-sub .submenu01--list ul li .sub-content--02:hover:before {
                      background-image: url("/assets/images/dummy/icon_dummy_on.png"); }
                .header-content .header .quick-content .quickList .quick-sub .submenu01--list ul li.sub-on {
                  line-height: 56px;
                  margin: 0 0 0 10px;
                  color: #f8fafc;
                  padding-right: 50px; }
                  .header-content .header .quick-content .quickList .quick-sub .submenu01--list ul li.sub-on:before {
                    content: '';
                    position: absolute;
                    top: 13px;
                    right: 10px;
                    height: 30px;
                    width: 30px;
                    background-image: url("/assets/images/dummy/icon_dummy_on.png");
                    fill: orange;
                    background-size: 30px;
                    background-repeat: no-repeat;
                    background-position: right; }
          .header-content .header .quick-content .quickList .quick-sub .submenu02 {
            top: 90px;
            right: -50px;
            background: #3557da;
            border-radius: 40px; }
            .header-content .header .quick-content .quickList .quick-sub .submenu02--list {
              position: relative;
              display: flex; }
              .header-content .header .quick-content .quickList .quick-sub .submenu02--list ul li {
                position: relative; }
                .header-content .header .quick-content .quickList .quick-sub .submenu02--list ul li .sub-content {
                  font-size: 13px;
                  display: block;
                  padding-top: 25px; }
                  .header-content .header .quick-content .quickList .quick-sub .submenu02--list ul li .sub-content--01:before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 6px;
                    display: block;
                    font-size: 13px;
                    height: 28px;
                    width: 28px;
                    padding-top: 5px;
                    background-image: url("/assets/images/dummy/icon_dummy.svg");
                    background-size: 28px;
                    background-repeat: no-repeat; }
                  .header-content .header .quick-content .quickList .quick-sub .submenu02--list ul li .sub-content--01:hover {
                    color: #f8fafc; }
                    .header-content .header .quick-content .quickList .quick-sub .submenu02--list ul li .sub-content--01:hover:before {
                      background-image: url("/assets/images/dummy/icon_dummy_on.png"); }
                  .header-content .header .quick-content .quickList .quick-sub .submenu02--list ul li .sub-content--02:before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 6px;
                    display: block;
                    font-size: 13px;
                    height: 28px;
                    width: 28px;
                    padding-top: 5px;
                    background-image: url("/assets/images/dummy/icon_dummy.svg");
                    background-size: 28px;
                    background-repeat: no-repeat; }
                  .header-content .header .quick-content .quickList .quick-sub .submenu02--list ul li .sub-content--02:hover {
                    color: #f8fafc; }
                    .header-content .header .quick-content .quickList .quick-sub .submenu02--list ul li .sub-content--02:hover:before {
                      background-image: url("/assets/images/dummy/icon_dummy_on.png"); }
                  .header-content .header .quick-content .quickList .quick-sub .submenu02--list ul li .sub-content--03:before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 6px;
                    display: block;
                    font-size: 13px;
                    height: 28px;
                    width: 28px;
                    padding-top: 5px;
                    background-image: url("/assets/images/dummy/icon_dummy.svg");
                    background-size: 28px;
                    background-repeat: no-repeat; }
                  .header-content .header .quick-content .quickList .quick-sub .submenu02--list ul li .sub-content--03:hover {
                    color: #f8fafc; }
                    .header-content .header .quick-content .quickList .quick-sub .submenu02--list ul li .sub-content--03:hover:before {
                      background-image: url("/assets/images/dummy/icon_dummy_on.png"); }
                .header-content .header .quick-content .quickList .quick-sub .submenu02--list ul li.sub-on {
                  line-height: 56px;
                  margin: 0 0 0 10px;
                  color: #f8fafc;
                  padding-right: 50px; }
                  .header-content .header .quick-content .quickList .quick-sub .submenu02--list ul li.sub-on:before {
                    content: '';
                    position: absolute;
                    top: 13px;
                    right: 10px;
                    height: 30px;
                    width: 30px;
                    background-image: url("/assets/images/dummy/icon_dummy_on.png");
                    background-size: 30px;
                    background-repeat: no-repeat;
                    background-position: right; }
          .header-content .header .quick-content .quickList .quick-sub .submenu03 {
            top: 151px;
            right: -49px;
            background: #3557da;
            border-radius: 40px; }
            .header-content .header .quick-content .quickList .quick-sub .submenu03--list {
              position: relative;
              display: flex; }
              .header-content .header .quick-content .quickList .quick-sub .submenu03--list ul li {
                position: relative; }
                .header-content .header .quick-content .quickList .quick-sub .submenu03--list ul li .sub-content {
                  font-size: 13px;
                  display: block;
                  padding-top: 25px; }
                .header-content .header .quick-content .quickList .quick-sub .submenu03--list ul li.sub-on {
                  line-height: 56px;
                  margin: 0 0 0 10px;
                  color: #f8fafc;
                  padding-right: 50px; }
                  .header-content .header .quick-content .quickList .quick-sub .submenu03--list ul li.sub-on:before {
                    content: '';
                    position: absolute;
                    top: 13px;
                    right: 10px;
                    height: 30px;
                    width: 30px;
                    background-image: url("/assets/images/dummy/icon_dummy_on.svg");
                    background-size: 30px;
                    background-repeat: no-repeat;
                    background-position: right; }
        .header-content .header .quick-content .quickList .quick {
          position: relative; }
          .header-content .header .quick-content .quickList .quick--title {
            margin: 7px; }
          .header-content .header .quick-content .quickList .quick--sub {
            position: absolute;
            right: 30px;
            top: 0; }
            .header-content .header .quick-content .quickList .quick--sub ul {
              display: flex; }
              .header-content .header .quick-content .quickList .quick--sub ul li {
                width: 50px; }
  .header-content .nav-bg {
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); }
    .header-content .nav-bg .nav__hoverTab {
      display: flex;
      position: absolute;
      top: 82px;
      width: 100%;
      height: auto; }
      .header-content .nav-bg .nav__hoverTab--title {
        width: 320px;
        padding: 30px 26px 30px 30px;
        text-align: right;
        background: #3557da; }
        .header-content .nav-bg .nav__hoverTab--title h3 {
          margin-top: 27px;
          margin-bottom: 14px;
          color: #f8fafc;
          font-size: 30px;
          letter-spacing: -0.6px;
          line-height: 0.93;
          animation: fadein .5s; }
        .header-content .nav-bg .nav__hoverTab--title p {
          margin-top: 10px;
          font-size: 18px;
          line-height: 1.44;
          letter-spacing: -0.36px;
          color: #9cb2ff;
          animation: fadein .5s; }
      .header-content .nav-bg .nav__hoverTab--product {
        width: 100%;
        height: auto;
        padding: 42px 114px 17px 42px;
        background: #f5f5f5; }
        .header-content .nav-bg .nav__hoverTab--product ul li .accordions {
          float: left;
          position: relative;
          margin-right: 30px;
          margin-bottom: 20px;
          width: 17%;
          min-width: 254px; }
          .header-content .nav-bg .nav__hoverTab--product ul li .accordions dl dt {
            position: relative;
            text-indent: 50px;
            height: 74px;
            line-height: 74px;
            font-size: 18px;
            letter-spacing: -0.36px;
            cursor: pointer;
            border-radius: 12px;
            background: #fff;
            overflow: hidden; }
            .header-content .nav-bg .nav__hoverTab--product ul li .accordions dl dt:hover {
              box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06); }
            .header-content .nav-bg .nav__hoverTab--product ul li .accordions dl dt.border {
              box-sizing: border-box;
              border: 2px solid #3557da; }
              .header-content .nav-bg .nav__hoverTab--product ul li .accordions dl dt.border strong {
                font-size: 18px;
                color: #3557da; }
            .header-content .nav-bg .nav__hoverTab--product ul li .accordions dl dt figure img {
              position: absolute;
              left: 0;
              height: 100%;
              width: 92px; }
            .header-content .nav-bg .nav__hoverTab--product ul li .accordions dl dt strong {
              display: block;
              text-indent: 105px; }
            .header-content .nav-bg .nav__hoverTab--product ul li .accordions dl dt .drop-down {
              width: 17px;
              position: absolute;
              right: 16px;
              top: 35px; }
            .header-content .nav-bg .nav__hoverTab--product ul li .accordions dl dt img {
              position: absolute;
              right: 16px;
              transform: rotate(0deg);
              transition: all .5s; }
            .header-content .nav-bg .nav__hoverTab--product ul li .accordions dl dt .rotate img {
              transform: rotate(180deg);
              transition: all .5s; }
          .header-content .nav-bg .nav__hoverTab--product ul li .accordions dl dd {
            cursor: pointer;
            color: #4c4c4c;
            font-size: 18px;
            letter-spacing: -0.28px;
            line-height: 2; }
          .header-content .nav-bg .nav__hoverTab--product ul li .accordions dl .bullet {
            position: relative;
            text-indent: 20px; }
            .header-content .nav-bg .nav__hoverTab--product ul li .accordions dl .bullet span {
              font-size: 18px;
              position: relative; }
              .header-content .nav-bg .nav__hoverTab--product ul li .accordions dl .bullet span:hover {
                color: #3557da; }
                .header-content .nav-bg .nav__hoverTab--product ul li .accordions dl .bullet span:hover::before {
                  position: absolute;
                  width: 100%;
                  height: 7px;
                  content: '';
                  background: #d5d7ff;
                  opacity: 0.5;
                  bottom: -2px;
                  transform: translate(0, -50%); }
            .header-content .nav-bg .nav__hoverTab--product ul li .accordions dl .bullet::before {
              position: absolute;
              left: 10px;
              width: 5px;
              height: 5px;
              content: '';
              background: #4c4c4c;
              top: 50%;
              transform: translate(0, -50%);
              border-radius: 50%; }

/* slide motion */
.slide-enter-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }

.slide-leave-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }

.slide-enter-to, .slide-leave {
  max-height: 400px;
  overflow: hidden; }

.slide-enter, .slide-leave-to {
  overflow: hidden;
  max-height: 0; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=appHeader.css.map */
