.swiper__visual-img {
  height: 100%;
}

.swiper__visual-img .swiper-container {
  height: 100%;
}

.swiper__visual-img .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper__visual-img .swiper-pagination {
  position: absolute;
  left: calc(50% - 640px);
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 1280px;
  z-index: 9;
}

.swiper__visual-img .swiper-pagination-bullet {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 0 0 0 8px;
  border-radius: 5px;
  background-color: #fff;
  opacity: 1;
}

.swiper__visual-img .swiper-pagination-bullet:after {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 10px;
  border-radius: 5px;
  background-color: #4D6EE4;
}

.swiper__visual-img .swiper-pagination-bullet-active {
  width: 60px;
}

.swiper__visual-img .swiper-pagination-bullet-active:after {
  width: 100%;
  -webkit-animation: paginationLine 5s linear;
          animation: paginationLine 5s linear;
}

.swiper__visual-text {
  position: absolute;
  top: 207px;
  left: 450px;
  z-index: 999;
  width: 380px;
}

.swiper__visual-text .swiper-slide {
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.swiper__visual-text .swiper-slide .btn {
  display: block;
  width: 104px;
  height: 28px;
  background-image: url(/assets/images/main/ico_bt.svg);
}

.swiper__visual-text .swiper-slide .sub-title {
  margin-top: 14px;
  font-family: 'Roboto' sans-serif;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #fff;
}

.swiper__visual-text .swiper-slide .title {
  margin-top: 6px;
  font-size: 50px;
  line-height: 56px;
  font-weight: 700;
  color: #00edff;
  letter-spacing: -2px;
}

.swiper__visual-text .swiper-slide .text {
  margin-top: 20px;
  word-break: keep-all;
  padding-left: 60px;
  font-size: 20px;
  line-height: 29px;
  color: #9cb2ff;
  letter-spacing: -0.6px;
}

.swiper__visual-text .swiper-slide-active {
  opacity: 1;
}

@-webkit-keyframes paginationLine {
  from {
    width: 0;
  }
}

@keyframes paginationLine {
  from {
    width: 0;
  }
}

.new-product__swiper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 82px;
}

.new-product__swiper .swiper-container {
  width: 480px;
  overflow: visible;
}

.new-product__swiper .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-product__swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.new-product__swiper .swiper-slide a {
  display: block;
  height: 100%;
}

.new-product__swiper .swiper-slide .new-product__img {
  position: relative;
  width: 354px;
  height: 354px;
  border-radius: 40px;
  overflow: hidden;
  background-color: #f5f5f5;
}

.new-product__swiper .swiper-slide .new-product__img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  opacity: .2;
}

.new-product__swiper .swiper-slide .new-product__img .new-product__detail {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0 50px;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.new-product__swiper .swiper-slide .new-product__img .new-product__detail:hover {
  opacity: 1;
}

.new-product__swiper .swiper-slide .new-product__img .new-product__detail .detail__title {
  padding-top: 85px;
}

.new-product__swiper .swiper-slide .new-product__img .new-product__detail .detail__title .title {
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: 700;
}

.new-product__swiper .swiper-slide .new-product__img .new-product__detail .detail__title .text {
  padding-top: 12px;
  font-size: 14px;
  line-height: 20px;
  color: #c4c4c4;
  word-break: keep-all;
  letter-spacing: -0.6px;
}

.new-product__swiper .swiper-slide .new-product__img .new-product__detail .detail__content {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 90px;
}

.new-product__swiper .swiper-slide .new-product__img .new-product__detail .detail__content .info {
  font-size: 16px;
  letter-spacing: -0.6px;
}

.new-product__swiper .swiper-slide .new-product__img .new-product__detail .detail__content .info span {
  font-size: 16px;
}

.new-product__swiper .swiper-slide .new-product__img .new-product__detail .detail__content .info span:first-child {
  position: relative;
  padding-right: 11px;
  margin-right: 10px;
}

.new-product__swiper .swiper-slide .new-product__img .new-product__detail .detail__content .info span:first-child:after {
  position: absolute;
  content: '';
  top: 5px;
  right: 0;
  width: 1px;
  height: 18px;
  background-color: #707070;
}

.new-product__swiper .swiper-slide .new-product__img .new-product__detail .detail__content .price {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.new-product__swiper .swiper-slide .new-product__img .new-product__detail .detail__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new-product__swiper .swiper-slide .new-product__img .new-product__detail .detail__btn a {
  display: block;
  width: 200px;
  height: 50px;
  color: #373a3c;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  border-radius: 15px 5px 15px 5px;
  background-color: #fff;
}

.new-product__swiper .swiper-slide .new-product__content {
  padding-top: 15px;
  opacity: .2;
}

.new-product__swiper .swiper-slide .new-product__content .product__title {
  font-size: 20px;
  font-weight: 700;
  color: #373a3c;
  letter-spacing: -0.6px;
}

.new-product__swiper .swiper-slide .new-product__content .product__text {
  padding-top: 4px;
  font-size: 14px;
  color: #757575;
  letter-spacing: -0.4px;
}

.new-product__swiper .swiper-slide-prev .new-product__img img,
.new-product__swiper .swiper-slide-next .new-product__img img {
  opacity: .8;
}

.new-product__swiper .swiper-slide-prev .new-product__content,
.new-product__swiper .swiper-slide-next .new-product__content {
  opacity: .8;
}

.new-product__swiper .swiper-slide-active .new-product__img {
  width: 480px;
  height: 518px;
  border-radius: 160px 40px 160px 40px;
}

.new-product__swiper .swiper-slide-active .new-product__img img {
  opacity: 1;
}

.new-product__swiper .swiper-slide-active .new-product__img .new-product__detail .detail__title {
  padding-top: 100px;
}

.new-product__swiper .swiper-slide-active .new-product__img .new-product__detail .detail__title .title {
  font-size: 40px;
}

.new-product__swiper .swiper-slide-active .new-product__img .new-product__detail .detail__title .text {
  padding-top: 10px;
  font-size: 16px;
  line-height: 24px;
}

.new-product__swiper .swiper-slide-active .new-product__img .new-product__detail .detail__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new-product__swiper .swiper-slide-active .new-product__img .new-product__detail .detail__btn {
  padding-top: 20px;
}

.new-product__swiper .swiper-slide-active .new-product__img .new-product__detail .detail__btn a {
  width: 240px;
  height: 56px;
  font-size: 16px;
  line-height: 56px;
  border-radius: 20px 5px 20px 5px;
}

.new-product__swiper .swiper-slide-active .new-product__content {
  padding-top: 20px;
  opacity: 1;
}

.new-product__swiper .swiper-slide-active .new-product__content .product__title {
  font-size: 30px;
}

.new-product__swiper .swiper-slide-active .new-product__content .product__text {
  font-size: 18px;
}

.new-product__swiper .swiper-button-prev,
.new-product__swiper .swiper-button-next {
  top: calc(50% - 25px);
  width: 51px;
  height: 51px;
}

.new-product__swiper .swiper-button-prev:after,
.new-product__swiper .swiper-button-next:after {
  content: none;
}

.new-product__swiper .swiper-button-prev {
  left: -400px;
  background-image: url(/assets/images/main/ico_slide_prev_off.svg);
}

.new-product__swiper .swiper-button-prev:hover {
  background-image: url(/assets/images/main/ico_slide_prev_on.svg);
}

.new-product__swiper .swiper-button-next {
  right: -400px;
  background-image: url(/assets/images/main/ico_slide_next_off.svg);
}

.new-product__swiper .swiper-button-next:hover {
  background-image: url(/assets/images/main/ico_slide_next_on.svg);
}

.news__swiper {
  position: relative;
  padding-top: 30px;
}

.news__swiper .swiper-container {
  position: static;
  margin-left: 223px;
}

.news__swiper .swiper-slide {
  width: 200px;
  margin-top: 12px;
  height: 123px;
  border-radius: 6px;
  background-color: #fff;
  padding: 24px 14px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.news__swiper .swiper-slide a {
  display: block;
  height: 100%;
}

.news__swiper .swiper-slide .title {
  position: absolute;
  top: -12px;
  left: 50%;
  width: 72px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  color: #4d6ee4;
  font-weight: 500;
  border-radius: 5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #00edff;
}

.news__swiper .swiper-slide .subject {
  height: 57px;
  color: #373a3c;
  font-size: 13px;
  word-break: keep-all;
  line-height: 19px;
  font-weight: 500;
}

.news__swiper .swiper-slide .date {
  padding-top: 7px;
  color: #c4c4c4;
  font-size: 13px;
  font-weight: 300;
}

.news__swiper .swiper-button-prev,
.news__swiper .swiper-button-next {
  top: auto;
  bottom: 0px;
  margin-top: 0;
  width: 28px;
  height: 28px;
}

.news__swiper .swiper-button-prev:after,
.news__swiper .swiper-button-next:after {
  content: none;
}

.news__swiper .swiper-button-prev {
  left: 0;
  background-image: url(/assets/images/main/ico_slide2_prev_off.svg);
}

.news__swiper .swiper-button-prev:hover {
  background-image: url(/assets/images/main/ico_slide2_prev_on.svg);
}

.news__swiper .swiper-button-next {
  left: 44px;
  background-image: url(/assets/images/main/ico_slide2_next_off.svg);
}

.news__swiper .swiper-button-next:hover {
  background-image: url(/assets/images/main/ico_slide2_next_on.svg);
}
/*# sourceMappingURL=swiper.css.map */