.footer {
  position: relative;
  height: 250px;
  background-color: #000;
  &__content {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    &-copyright {
      p {
        color: #9c9c9c;
        font-size: 13px;
        font-weight: 300;
        line-height: 21px;
        text-transform: uppercase;
        &:nth-child(3) {
          margin-top: 20px;
        }
        span {
          margin-right: 20px;
          font-size: inherit;
        }
        a {
          font-size: 12px;
          color: #c4c4c4;
          text-decoration: underline;
        }
      }
    }
    &-link {
      display: flex;
      .content-link__nav {
        display: flex;
        li {
          margin-left: 20px;
          a {
            font-weight: 500;
            font-size: 13px;
            color: #757575;
          }
        }
      }
      .content-link__sns {
        position: relative;
        width: 40px;
        margin: -7px 10px 0 6px;
        .sns__btn {
          position: relative;
          display: block;
          height: 40px;
          background: url(/assets/images/main/ico_sns.svg) no-repeat 50%;
        }
        .sns__list {
          display: none;
          width: 224px;
          position: absolute;
          top: 46px;
          left: 50%;
          transform: translateX(-50%);
          ul {
            display: flex;
            flex-wrap: wrap;
            li {
              width: 40px;
              &:nth-child(n + 2) {
                margin-left: 6px;
              }
              a {
                display: block;
                height: 40px;
                background-repeat: no-repeat;
              }
              &:nth-child(1) {
                a {
                  background-image: url(/assets/images/main/ico_sns_insta.svg);
                }
              }
              &:nth-child(2) {
                a {
                  background-image: url(/assets/images/main/ico_sns_youtube.svg);
                }
              }
              &:nth-child(3) {
                a {
                  background-image: url(/assets/images/main/ico_sns_blog.svg);
                }
              }
              &:nth-child(4) {
                a {
                  background-image: url(/assets/images/main/ico_sns_facebook.svg);
                }
              }
              &:nth-child(5) {
                a {
                  background-image: url(/assets/images/main/ico_sns_kakao.svg);
                }
              }
            }
          }
        }
        &:hover {
          .sns__list {
            display: flex;
          }
        }
      }
      .content-link__familysite {
        position: relative;
        width: 137px;
        height: 24px;
        box-sizing: border-box;
        border-radius: 10px 5px 10px 5px;
        border: 1px solid #707070;
        .familysite__btn {
          position: relative;
          display: block;
          height: 100%;
          line-height: 22px;
          color: #757575;
          font-family: 'Roboto', sans-serif;
          font-size: 10px;
          font-weight: 500;
          padding-left: 12px;
          z-index: 1;
          &:after {
            position: absolute;
            content: '';
            top: calc(50% - 4px);
            right: 12px;
            width: 12px;
            height: 7px;
            background: url(/assets/images/main/ico_arrow_down.svg) no-repeat;
          }
        }
        .familysite__list {
          display: none;
          position: absolute;
          top: -1px;
          left: -1px;
          right: -1px;
          border: 1px solid #707070;
          box-sizing: border-box;
          border-radius: 10px 5px 10px 5px;
          padding: 30px 0 14px 0;
          background-color: #000;
          ul {
            li {
              &:nth-child(n + 2) {
                margin-top: 4px;
              }
              a {
                display: block;
                padding: 0 12px;
                color: #c4c4c4;
                font-size: 14px;
              }
            }
          }
        }
        &:hover {
          display: block;
          .familysite__btn {
            &:after {
              background: url(/assets/images/main/ico_arrow_up.svg) no-repeat;
            }
          }
          .familysite__list {
            display: block;
          }
        }
      }
    }
  }
}